---
import { getCollection} from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';

import Card from '../components/Card.astro';

//const posts = await Astro.glob('../posts/*.mdx');

const allPosts = await getCollection('blog');
const posts = allPosts
  .filter((a) => a.data.draft != true)
  .sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date))
  .slice(0, 5);
  import { Image } from "astro:assets";
---

<Layout>
	<Showcase showExtra={true} />
	
	<section class="page-content">
		<div class="container">
			<h2>Recent Blogs</h2>
		  {posts.map(post => (
			<Card>

				<div class="contain">
					<Image class="poster" src={post.data.heroImage} alt="image"/>
				

			 <div class="content">
				<div class="items">
				<h3>{post.data.title}</h3>
			   <p>{post.data.description}</p>
			   <a class="btn" href={`/blog/${post.slug}`}>Read More</a>
				
				</div>
				</div>
			   
			  </div>
			  
			   
			 
			</Card>


		  ))}
		</div>
	  </section>
</Layout>


<style>
	

</style>